@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Import Transactoin File</h1>
<form enctype="multipart/form-data" method="post" asp-controller="Transaction" asp-action="Import">
    <input type="file" name="dataFile">
    <br />
    <input class="btn btn-primary mt-3" type="submit" value="Upload" />
</form>
